.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px 40px;
    background-color: var(--background-color-dark);
    z-index: 999;

    transform: translateX(0);
    transition: transform 450ms ease-in-out;
}

.menuclose {
    margin-left: auto;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 10px;
}