.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: transparent;
    z-index: 999;

    transform: translateX(0);
    transition: transform 450ms ease-in-out;
}

.modalimg{
    height: 90vh;
    width: auto;
    margin: 0 auto;
}

.close{
  margin: 0;

}